{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update Item</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Update Item</h1>
        <form method="post">
          {% csrf_token %}
          <label for="task">Task: </label>
          <input type="text" name="task" value="{{item.task}}" />
          <br />

          <label for="due_date">Due Date: </label>
          <input type="text" name="due_date" value="{{item.due_date}}" />
          <br />

          <label for="is_completed">Is Completed: </label>
          <input
            type="checkbox"
            name="is_completed"
            value="{{item.is_completed}}"
          />
          <br />

          <label for="list">List: </label>
          <select name="list" id="list">
            {% for list in lists %}
            <option value="{{list.id}}" name="list">{{list.name}}</option>
            {% endfor %}
          </select>

          <br />

          <button>Update</button>
        </form>
      </div>
    </main>
  </body>
</html>
