<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create New List</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Create a new list</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <label for="name">Name: </label>
          <input type="text" name="name" />
          <button>Create</button>
        </form>
      </div>
    </main>
  </body>
</html>
