{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To Do Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ tasks.name }}</h1>
        <p>
          <a href="edit/">Edit List</a>
        </p>
        <p>
          <a href="delete/">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <th>Task</th>
            <th>Due Date</th>
          </thead>
          <tbody>
            {% for task in tasks.items.all %}
            <tr>
              <td>
                <a href="{% url 'todo_item_update' task.id %}"
                  >{{ task.task }}</a
                >
              </td>
              <td>{{ task.due_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
