{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>To Do Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="create/">Create a new list</a>
        </p>
        <p>
          <a href="items/create/">Create a new item</a>
        </p>
        <table>
          <thead>
            <th>Name</th>
            <th>Number of Items</th>
          </thead>
          <tbody>
            {% for list in lists %}
            <tr>
              <td>
                <a href="{% url 'todo_list_detail' list.id %}"
                  >{{ list.name }}</a
                >
              </td>
              <td>{{ list.items.all|length }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
