{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update List</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Update List</h1>
        <form method="post">
          {% csrf_token %}
          <label for="name">Name: </label>
          <input type="text" name="name" value="{{list.name}}" /> <br />
          <button>Update</button>
        </form>
      </div>
    </main>
  </body>
</html>
